ion-content {
  background: linear-gradient(to top, #23074d, #cc5333);
}

h2  {
  color : #A8A7A7
}

p {
  color : #ffffff;
  text-align: justify;
}

ion-item {
  background: linear-gradient(to top, #DBE6F6,);
}